<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>SB Admin - Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />

    <!-- Page level plugin CSS -->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <%- include ../partials/index/header.ejs %>

    <div id="wrapper">
      <div id="content-wrapper">
        <div class="container-fluid">
          <!-- Icon Cards -->
          <h2>My WishList</h2>
          <h3>
            Total: <%const calcula_total = () =>{ let total= 0; products.forEach(p => total = total
            + p.price ); return total} %> $<%= calcula_total()%>
          </h3>
          <script></script>
          <button onclick="mandaMail()">Enviar por mail</button>
          <div class="row">
            <% for(var i = 0; i < products.length; i++){ %>
            <div class="col col-md-4 col-sm-12 col-xs-12" style="margin-bottom: 10px">
              <div class="card">
                <img src="<%= products[i].url%>" alt="Avatar" />
                <div class="container-card">
                  <h5><b><%= products[i].name %></b></h5>
                  <p>$<%= products[i].price%></p>
                  <div style="margin-left: auto">
                    <a
                      class="delete-wishlist"
                      id="<%= 'prod-' + products[i].id_products %>"
                      href=""
                    >
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto"><span>Ponte algo kk</span></div>
          </div>
        </footer>
      </div>
      <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages -->
    <!-- <script src="js/sb-admin.min.js"></script> -->
  </body>
</html>
